p{
    color: #D7E80A

}
.human{
    color: #F70FAA
}
h1{
    font-size: 75px;
    color: #2F9E22
    
}
body {
    background-image: url("https://media.giphy.com/media/hvcrYOJj9xOjS/giphy.gif");
   }