body {
  width: 960px;
  max-width: 90%;
  margin-left: auto;
margin-right: auto;
background-color: #F2ECA3;
}
img {
  max-width: 90%;
  display: block;
  margin-left: auto;
margin-right: auto;
}
h1{
font-size: 50px;
font-family: 'Fredoka One', cursive;
color: firebrick;
}
p{
font-size: 25px;
font-family: 'Sawarabi Mincho';
Color: maroon,
}
h3{
font-size: 25px;
font-family: 'Fredoka One', cursive;
color: firebrick;
}
li{
font-size: 25px;
font-family: 'Sawarabi Mincho';
Color: maroon,
}
h4{
  font-size: 30px;
  font-family: 'Sawarabi Mincho';
  Color: maroon,
}
ul li::marker {
  color: red;
  font-size: 1.5em;
}
.liststuff {
display: flex;
flex-wrap: wrap;
}
#instructions {
width: 100%;
}
#ingredient-list {
width: 100%;
}

@media (min-width: 640px) {

  #instructions {
      width: 50%;
      }
  #ingredient-list {
      width: 50%;
      }
}