html{
    font-family: 'Crimson Text', serif;
    text-align: center;
}
body {background-color: black;
    margin: 15%;
}
h1{
font-size: 22pt;
color: greenyellow;
}
h2{
    font-size: 18pt;
    color: hotpink;
}
h3{
    font-size: 10pt;
    color: red;
}
p{
    font-size: 12pt;
    color: turquoise;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.spaced{
    letter-spacing: 6em;
}
.underline{
    text-decoration: underline;
}
.uppercase{
text-transform: uppercase;
}